<style>

    @import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Merriweather&family=Piedra&family=Raleway:wght@300&display=swap');

    .shadow {
        box-shadow: 0 2px 5px 0;
    }

    .my-style {
        font-family: 'Bellota', serif;
        font-size: 1.5rem;
        margin: 4px;
        margin-bottom: 1rem;
    }

    .card {
        background-color: #eeeeee;
        justify-content: center;
        margin-top: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 5px 0 #00000077, 0 6px 10px 0 #00000077;
    }

    .card-body {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .input2 {
        border-style: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-color: #f4f7c5;
        background-color: #fff;
        color: #393e46;
        display: block;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-indent: 0.5rem;
        width: 60%;
    }

    .otp-text {
        color: #000;
        font-size: 1.25rem;
        font-family: 'Merriweather';
        margin-bottom: 5rem;
        text-align: center;
    }

    .root-inp {
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .spc {
        padding-top: 7px;
        padding-bottom: 8px;
    }

</style>

<section id="root" class="row">
    <div class="card offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12">
        <div class="card-body">
            <h1 class="d-flex justify-content-center">Sign In</h1>
            <div class="input">
                <div class="email-input root-inp">
                    <input class="input2 spc" id="email" type="email" name="email" placeholder="Email"
                           v-model="email">
                </div>
                <div class="email-input root-inp">
                    <input class="input2 spc" id="password" type="password" name="password" placeholder="Password"
                           v-model="password">
                </div>
                <div class="text-center">
                    <button type="button" @click="signin" class="btn btn-dark btn-sm my-style">Submit</button>
                    <br>
                    <button type="button" @click="get_user_data" class="btn btn-dark btn-sm my-style">Get User Data
                    </button>
                </div>
            </div>
        </div>
</section>

</body>


<script>

    let signin = new Vue({
        el: "#root",
        data: {
            email: "vs201104@gmail.com",
            password: "lolipop"
        },
        methods: {
            signin: () => {
                console.log("dasta")
                if (/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(signin.email) !== false && signin.password.length!==0) {
                    fetch('/user/email_signin', {
                        method: "post",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            email: signin.email,
                            password: signin.password
                        })
                    })
                        .then(res => res.json())
                        .then(res => {
                            // console.log(JSON.stringify(res));
                            if (res.type === "success") {
                                localStorage.setItem("auth_token", res.auth_token);
                                // console.log(res.auth_token);
                                alert("signin successful");
                            }
                            // if(res.status === "failed" && res.error === "email"){
                            //     signin.email_wrong = true;
                            // }
                            // else if(res.data.auth.length == 0) {
                            //     alert("password wrong");
                            // }
                            // else if(res.data.auth.length > 0) { alert("signin successful"); }
                        })
                        .catch(err => console.log(err));
                } else {
                    alert("Invalid Email or password!");
                }
            },
            get_user_data: () => {
                console.log("sas")
                fetch('/user/user_info', {
                    method: "post",
                    headers: {
                        'auth_token': localStorage.getItem('auth_token')
                    }
                })
                    .then(res => res.json())
                    .then(res => {
                        console.log(JSON.stringify(res));
                        // if (res.type === "success") {
                        //     localStorage.setItem("auth_token", res.auth_token);
                        // alert("success");
                        // }
                    })
                    .catch(err => console.log(err));
            }
        }
    })

</script>
