<!DOCTYPE html>
<html>
  <body>
    <div>
<p id="demo">start using git commit.</p>
<button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>
    </div>
    <script>

      
    </script>
  </body>
</html>
