<!doctype html>
<html lang="en">
<head>
    <% include ../common/head.ejs%>
<body>
<div class="container-fluid">
    <% include ../common/navbar.ejs%>
    <div class="container">
        <% include ./fragments/course_list.ejs%>
    </div>
</div>


<% include ../common/footer.ejs%>
</body>
</html>
