

<style>

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

    .form-inline > input {
        text-indent: 1.5rem;
    }

    .search-icon {
        position: absolute;
        padding: 7px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .header {
        font-family: 'Bitter', serif;
    }

    .navbar {
        background-color: rgb(37, 59, 86);
    }

    .nav-link {
        font-family: 'Open Sans', sans-serif;
    }

    .navbar-light .navbar-brand {
        color: #F4F4F4;
    }
    .navbar-light .navbar-brand:hover{
        color: #FFFFFF;
    }

    .nav_icon {
        color: white;
        height: 100%;
    }
</style>
<% include signinsignupmodal.ejs %>
<nav class="navbar navbar-expand-lg navbar-light" id="my_navbar">
    <a class="navbar-brand" href="/">
        <img src="https://grow90.org/grow90/icon/icon_white_square.png" width="30" height="30"
             class="d-inline-block align-top" alt="logo" style="border-radius: 50%;">
        <span id="logo_text" class="header" >GROW90</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0" @submit.prevent="get_course(search_text)">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Courses" aria-label="Search"
                       v-model="search_text" />
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </form>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="cursor: pointer;">
            <li class="nav-item" v-if="!is_signed_in">
                <a style="color:white;" class="nav-link" data-toggle="modal" data-target="#signin_modal"> Sign in</a>
            </li>
            <li class="nav-item" v-if="!is_signed_in">
                <a style="color:white;" class="nav-link" data-toggle="modal" data-target="#signup_modal"> Sign up</a>
            </li>
            <li class="nav-item" v-if="is_signed_in">
                <a style="color:white;" class="nav-link" onclick="logout()"> Log out</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    let navbarApp = new Vue({
        el: "#my_navbar",
        data: {
            search_text: "",
            is_signed_in: false
        },
        methods: {
            get_user: () => {
                if (localStorage.getItem('auth_token') !== null) {
                    navbarApp.is_signed_in = true;
                    fetchMyAuthDB(`query MyQuery {
                                  auth {
                                    id
                                  }
                                }`, {}).then(res => console.log(JSON.stringify(res)))
                }
            },
            get_course: (name) => {
                home_app.get_data(name)
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                navbarApp.get_user();
            })
        }
    })

    function logout() {
        alertify.confirm("Confirm Logout.",
            function () {
                alertify.success("Logged Out successfully!")
                localStorage.clear();
                navbarApp.is_signed_in = false;
            },
            function () {
                alertify.error('Cancel');
            });

    }

</script>
