<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../commonv2/head.ejs %>
</head>

<body>

<% include ../commonv2/header.ejs %>

<% include fragments/hero.ejs %>

<main id="main">

    <!-- ======= Aboutus ======= -->
    <% include fragments/aboutus.ejs %>

    <!-- ======= Whyus ======= -->
    <% include fragments/why_us.ejs %>

    <!-- ======= Skills Section ======= -->
    <% include fragments/skills.ejs %>

    <!-- ======= Services Section ======= -->
    <% include fragments/courses.ejs %>

    <!-- ======= Cta Section ======= -->
    <% include fragments/cta.ejs %>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <% include fragments/frequently_asked_questions.ejs %>

    <!-- ======= Contact Section ======= -->
    <% include fragments/contact_us.ejs %>

</main><!-- End #main -->
<% include ../commonv2/footer.ejs %>

</body>

</html>
