<style>

    @import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Merriweather&family=Piedra&family=Raleway:wght@300&display=swap');

    .shadow {
        box-shadow: 0 2px 5px 0;
    }

    .my-style {
        font-family: 'Bellota', serif;
        font-size: 1.5rem;
    }

    .card {
        background-color: #eeeeee;
        justify-content: center;
        margin-top: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 5px 0 #00000077, 0 6px 10px 0 #00000077;
    }

    .card-body {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .input {
        text-align: center;
    }

    .input2 {
        border-style: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-color: #f4f7c5;
        background-color: #fff;
        color: #393e46;
        display: block;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-indent: 0.5rem;
        width: 60%;
    }

    .otp-text {
        color: #000;
        font-size: 1.25rem;
        font-family: 'Merriweather';
        margin-bottom: 5rem;
        text-align: center;
    }

    .root-inp {
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .spc {
        padding-top: 7px;
        padding-bottom: 8px;
    }

    h1 {
        margin: 0 0 20px;
        font-weight: 300;
        font-size: 28px;
    }

</style>

<section id="root" class="row">
    <div class="card offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12">
        <div class="card-body">
            <h1 class="d-flex justify-content-center">Sign up</h1>
            <!-- part1 -->
            <div class="input" v-if="!input_otp">
                <div class="email-input root-inp">
                    <input class="input2 spc" id="phone" type="tel" name="phone" placeholder="Phone Number"
                           v-model="phone">
                </div>
                <div class="email-input root-inp">
                    <input class="input2 spc" id="password" type="password" name="password" placeholder="Password"
                           v-model="password">
                </div>
                <button type="button" @click="register" class="btn btn-dark btn-sm my-style">Sign Up</button>
            </div>
            <!-- part2 -->
            <div class="input" v-if="input_otp">
                <div class="name-input root-inp">
                    <input class="input2 spc" id="name" type="text" name="name" placeholder="OTP" v-model="otp">
                </div>
                <button type="button" @click="verify_otp" class="btn btn-dark btn-sm my-style">
                    Verify OTP
                </button>
            </div>
        </div>
    </div>
</section>

</body>


<script>

    let signup = new Vue({
        el: "#root",
        data: {
            input_otp: false,
            password: "",
            phone: "",
            otp: ""
        },
        methods: {
            register: () => {
                fetch('/user/phone_sign_up', {
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        phone: "91" + signup.phone,
                        password: signup.password
                    })
                })
                    .then(res => res.json())
                    .then(res => {
                        if (res.type === "success") {
                            signup.input_otp = true;
                        }
                    })
                    .catch(err => console.error(err));
            },
            verify_otp: () => {
                fetch('/user/verify_otp', {
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        otp: signup.otp,
                        phone: signup.phone
                    })
                })
                    .then(res => res.json())
                    .then(res => {
                        // console.log(JSON.stringify(res));
                        if (res.type === "success") {
                            localStorage.setItem("auth_token", res.auth_token);
                            alert("success");
                        }
                    })
                    .catch(err => console.error(err));
            }
        },
    })

</script>
