<!doctype html>
<html lang="en">
<head>
    <% include ../common/head.ejs %>
<body>
<div class="container-fluid" style="padding: 0;">
    <% include ../common/navbar.ejs %>
    <% include ./fragments/sidebar.ejs %>
    <div class="container">
    </div>
</div>

<% include ../common/footer.ejs %>
</body>
</html>
